* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #333;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

/* Cabeçalho */

header {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 15vh;
  background-color: #f8f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  max-width: 900px;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 23%;
}

.nav-bar-itens {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.nav-price {
  font-size: 1.2rem;
  font-weight: bold;
}

button {
  background-color: #69d2e7;
  display: flex;
  justify-content: center;
  align-items: center;
  font: inherit;
  padding: 0.6rem 0.9rem;
  width: 100%;
  border: none;
  border-radius: 7px;
  color: #fff;
  cursor: pointer;
  transition: 0.5s;
}

button.nav-btn {
  margin-left: 1rem;
  background-color: #69d2e7;
  max-width: 2.7rem;
  padding: 0.6rem 0.9rem;
  border: none;
  border-radius: 7px;
  color: #fff;
  cursor: pointer;
}

button:hover {
  color: #333;
  background-color: #53cbbf;
}

.logo {
  font-size: 1.8rem;
  font-weight: normal;
  text-transform: uppercase;
}

/* Principal */
main {
  margin-top: 15vh;
  margin-bottom: 5vh;
  width: 100%;
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.area-produto {
  max-width: 1200px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}

.card   {
  background-color: #fff;
  margin: 2vh auto;
  width: 20%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 7px;
  box-shadow:4px 4px 4px 5px rgba(0, 0, 0, 0.25);
}

.card h2 {
  font-size: 1rem;
}

.card p {
  padding: 0.8rem 0;
  
}

img.img-produto {
  width: 50%;
  height: 50%;
}

.card-titulo {
  color: rgb(121, 121, 121);
  font-size: 1rem;
  margin: 1rem 0;
}

footer {
  min-height: 20vh;
  margin: 2rem auto;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f7f7;
}

footer ul {
  max-width: 900px;
  width: 90%;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

footer li {
  background-color: #fff;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem;
}

footer span {
  margin-left: 50%;
}

footer button {
  width: 20%;
  background-color: transparent;
  color: #000;
  font-weight: bold;
  border: 3px solid #69d2e7;
}

footer button:hover {
  color: #fff;
}






@media (max-width: 800px) {
  .card   {
    background-color: #fff;
    width: 40%;
    padding: 1rem;
    border-radius: 7px;
    box-shadow:2px 2px 2px 3px rgba(0, 0, 0, 0.25);
  }
}

@media only screen and (max-width: 600px) {
  .card   {
    background-color: #fff;
    width: 40%;
    padding: 1rem;
    border-radius: 7px;
    box-shadow:2px 2px 2px 3px rgba(0, 0, 0, 0.25);
  }

  footer {
    min-height: 20vh;
    margin: 2rem auto;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f7f7;
  }
  
  footer ul {
    max-width: 900px;
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    
  }
  
  footer li {
    background-color: #fff;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  
  footer h2 {
    font-size: 1.3rem;
  }

  footer span {
    margin-left: 2%;
  }
  
  footer button {
    width: 35%;
    font-size: 0.9rem;
    background-color: transparent;
    color: #000;
    font-weight: bold;
    border: 2px solid #69d2e7;
  }
  
  footer button:hover {
    color: #fff;
  }
}